<%= form_for(@buzz_mention) do |f| %>
  <% if @buzz_mention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buzz_mention.errors.count, "error") %> prohibited this buzz_post from being saved:</h2>

      <ul>
      <% @buzz_mention.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buzz_post_id %><br />
    <%= f.text_field :buzz_post_id %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br />
    <%= f.text_field  :restaurant_id %>
  </div>
  <div class="field">
    <%= f.label :decayed_buzz_score %><br />
    <%= f.text_field :decayed_buzz_score %>
  </div>
  <div class="field">
    <%= f.label :buzz_score %><br />
    <%= f.text_field  :buzz_score %>
  </div>
  <div class="field">
    <%= f.label :ignore %><br />
    <%= f.check_box :ignore %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
