<%= form_for(@buzz_source) do |f| %>
  <% if @buzz_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buzz_source.errors.count, "error") %> prohibited this buzz_source from being saved:</h2>

      <ul>
      <% @buzz_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </div>
    <div class="field">
    <%= f.label :x_path_nodes %><br />
    <%= f.text_field :x_path_nodes %>
  </div>
  <div class="field">
    <%= f.label :buzz_weight %><br />
    <%= f.number_field :buzz_weight, :step => 0.1 %>
  </div>

  <div class="field">
    <%= f.label :decay_factor %><br />
    <%= f.number_field :decay_factor, :step => 0.001 %>
  </div>

  <p>
  <%= f.label :buzz_source_type %><br />
  <%= f.select :buzz_source_type, buzz_source_types %>
  </p>

  <p>
  <%= f.label :city %><br />
  <%= f.select :city, city_names %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
