<%= form_for(@buzz_source) do |f| %>
  <% if @buzz_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buzz_source.errors.count, "error") %> prohibited this buzz_source from being saved:</h2>

      <ul>
      <% @buzz_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :buzz_weight %><br />
    <%= f.number_field :buzz_weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
