<table>
  <tr>
    <th>Name</th>
    <th>Twitter</th>
    <th><%= sortable "total_current_buzz", "Total Buzz" %></th>
    <th><%= sortable "buzz_mentions_count", "Buzz Mentions" %></th>
    <th><%= sortable "created_at" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.name %></td>
    <td><a target="_blank" href=http://www.twitter.com/<%= restaurant.twitter_handle%>><%= restaurant.twitter_handle%></td>
    <td><%= number_with_precision(restaurant.total_current_buzz,:precision => 1) %></td>
    <td><%= link_to_if restaurant.buzz_mentions.exists?, restaurant.buzz_mentions_count, restaurant%></td>
    <td><%= restaurant.created_at.strftime("%b %d %y")  %></td>
    <td><%= link_to 'Show', restaurant %></td>
    <% if can? :edit, @restaurant %>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <% end %>
    <% if can? :destroy, @restaurant %>
      <td><%= link_to 'Destroy', restaurant, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>