<table class="table table-striped">
  <thead>
    <tr>
    <th>Name</th>
    <th>Twitter</th>
    <th class="buzz_mentions_score">Buzz Score</th>
    <th class="buzz_mentions_count">Buzz Mentions</th>
    <th>Opened On</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><a target="_blank" href=http://www.twitter.com/
            <%= restaurant.twitter_handle%>><%= restaurant.twitter_handle%></a>
        </td>
        <td class="buzz_mentions_score">
          <%= number_with_precision(restaurant.
                                    total_current_buzz,:precision => 1) %></td>
        <td class="buzz_mentions_count"><%= restaurant.
                                            buzz_mention_count_ignored %></td>
        <td><%= restaurant.created_at.strftime("%b %d %y")  %></td>
        <td>
          <% if can? :edit, @restaurant %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_restaurant_path(restaurant), :class => 'btn btn-mini' %>
            <%= link_to "Show", restaurant_path(restaurant),
                :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, @restaurant %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              restaurant_path(restaurant), :method => :delete, 
              :confirm => t('.confirm',
                            :default => t("helpers.links.confirm",
                                          :default => 'Are you sure?')),
                            :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :create, @restaurant %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
    new_restaurant_path, :class => 'btn btn-primary' %>
<% end %>
