<% title "Restaurants" %>

<%= form_tag restaurants_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h1>Listing restaurants</h1>

<div id="restaurants"><%= render 'restaurants' %></div>

<br />

<%= will_paginate @restaurants %>

<%= link_to 'New Restaurant', new_restaurant_path %>
