<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Style:</b>
  <%= @restaurant.style %>
</p>

<p>
  <b>Weeks on list:</b>
  <%= @restaurant.weeks_on_list %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @restaurant.neighborhood %>
</p>

<p>
  <b>Reserve:</b>
  <%= @restaurant.reserve %>
</p>

<p>
  <b>Description:</b>
  <%= @restaurant.description %>
</p>

<p>
  <b>Make inactive (hide)?:</b>
  <%= @restaurant.skip_scan %>
</p>

<p>
  <b>Buzz Mentions:</b><br/>
    <% @restaurant.buzz_mentions.each do |buzz_mention| %>
      <%= render :partial => 'buzz_mentions/buzz_mentions', :locals => {:buzz_mention => buzz_mention} %>
    <% end %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
