<h1>Listing buzz_posts</h1>

<table>
  <tr>
    <th>ID Number</th>
    <th>Buzz Source</th>
    <th>Post Date</th>
    <th>Post Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buzz_posts.each do |buzz_post| %>
  <tr>
    <td><%= buzz_post.id%></td>
    <% if buzz_post.buzz_source.present? %>
        <td><%= buzz_post.buzz_source.name %></td>
    <% else %>
        <td>Unknown</td>
    <% end %>
    <td>  <%= buzz_post.created_at.strftime("%m/%d/%y") %>  </td>
    <td><%= truncate(buzz_post.post_content, :ommision => "...", :length => 200) %></td>
    <td><%= link_to 'Show', buzz_post %></td>
    <td><%= link_to 'Edit', edit_buzz_post_path(buzz_post) %></td>
    <td><%= link_to 'Destroy', buzz_post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buzz post', new_buzz_post_path %>
