<h1>Listing buzz_posts</h1>

<table>
  <tr>
    <th>Buzz source name</th>
    <th>Post date time</th>
    <th>Post uri</th>
    <th>Post content</th>
    <th>Scanned flag</th>
    <th>Post weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buzz_posts.each do |buzz_post| %>
  <tr>
    <td><%= buzz_post.post_date_time %></td>
    <td><%= buzz_post.post_uri %></td>
    <td><%= buzz_post.post_content %></td>
    <td><%= buzz_post.scanned_flag %></td>
    <td><%= buzz_post.post_weight %></td>
    <td><%= link_to 'Show', buzz_post %></td>
    <td><%= link_to 'Edit', edit_buzz_post_path(buzz_post) %></td>
    <td><%= link_to 'Destroy', buzz_post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buzz post', new_buzz_post_path %>
