<p id="notice"><%= notice %></p>

<p>
  <b>Buzz source name:</b>
  <%= @buzz_post.buzz_source_name %>
</p>

<p>
  <b>Post date time:</b>
  <%= @buzz_post.post_date_time %>
</p>

<p>
  <b>Post uri:</b>
  <%= @buzz_post.post_uri %>
</p>

<p>
  <b>Post content:</b>
  <%= @buzz_post.post_content %>
</p>

<p>
  <b>Scanned flag:</b>
  <%= @buzz_post.scanned_flag %>
</p>

<p>
  <b>Post weight:</b>
  <%= @buzz_post.post_weight %>
</p>


<%= link_to 'Edit', edit_buzz_post_path(@buzz_post) %> |
<%= link_to 'Back', buzz_posts_path %>
